.text-black{color:#000000 !important;}
.text-white{color:#ffffff !important;}

.border-black{border:1px solid #000 !important;}
.border-white{border:1px solid #fff !important;}

.text-gray.lighten-6{color:#fcfcfc;}
.text-gray.lighten-5{color:#fafafa;}
.text-gray.lighten-4{color:#f5f5f5;}
.text-gray.lighten-3{color:#eeeeee;}
.text-gray.lighten-2{color:#e0e0e0;}
.text-gray.lighten-1{color:#bdbdbd;}
.text-gray{color:#9e9e9e;}
.text-gray.darken-1{color:#757575;}
.text-gray.darken-2{color:#616161;}
.text-gray.darken-3{color:#424242;}
.text-gray.darken-4{color:#212121;}
.text-gray.darken-5{color:#090909;}

.text-blue-gray.lighten-6{color:#f6f8fc;}
.text-blue-gray.lighten-5{color:#eceff1;}
.text-blue-gray.lighten-4{color:#cfd8dc;}
.text-blue-gray.lighten-3{color:#b0bec5;}
.text-blue-gray.lighten-2{color:#90a4ae;}
.text-blue-gray.lighten-1{color:#78909c;}
.text-blue-gray{color:#607d8b;}
.text-blue-gray.darken-1{color:#546e7a;}
.text-blue-gray.darken-2{color:#455a64;}
.text-blue-gray.darken-3{color:#37474f;}
.text-blue-gray.darken-4{color:#263238;}
.text-blue-gray.darken-5{color:#212529;}

.text-indigo.lighten-6{color:#f8f5fd;}
.text-indigo.lighten-5{color:#e8eaf6;}
.text-indigo.lighten-4{color:#c5cae9;}
.text-indigo.lighten-3{color:#9fa8da;}
.text-indigo.lighten-2{color:#7986cb;}
.text-indigo.lighten-1{color:#5c6bc0;}
.text-indigo{color:#3f51b5;}
.text-indigo.darken-1{color:#3949ab;}
.text-indigo.darken-2{color:#303f9f;}
.text-indigo.darken-3{color:#283593;}
.text-indigo.darken-4{color:#1a237e;}
.text-indigo.darken-5{color:#0c1675;}

.text-light-green.lighten-5{color:#f1f8e9;}
.text-light-green.lighten-4{color:#dcedc8;}
.text-light-green.lighten-3{color:#c5e1a5;}
.text-light-green.lighten-2{color:#aed581;}
.text-light-green.lighten-1{color:#9ccc65;}
.text-light-green{color:#8bc34a;}
.text-light-green.darken-1{color:#7cb342;}
.text-light-green.darken-2{color:#689f38;}
.text-light-green.darken-3{color:#558b2f;}
.text-light-green.darken-4{color:#33691e;}

/** BACKGROUNDS **/
.black{background: #000000;}
.white{background: #FFFFFF;}

.gray.lighten-6{background:#fcfcfc;}
.gray.lighten-5{background:#fafafa;}
.gray.lighten-4{background:#f5f5f5;}
.gray.lighten-3{background:#eeeeee;}
.gray.lighten-2{background:#e0e0e0;}
.gray.lighten-1{background:#bdbdbd;}
.gray{background:#9e9e9e;}
.gray.darken-1{background:#757575;}
.gray.darken-2{background:#616161;}
.gray.darken-3{background:#424242;}
.gray.darken-4{background:#212121;}
.gray.darken-5{background:#090909;}

.blue-gray.lighten-6{background:#f6f8fc;}
.blue-gray.lighten-5{background:#eceff1;}
.blue-gray.lighten-4{background:#cfd8dc;}
.blue-gray.lighten-3{background:#b0bec5;}
.blue-gray.lighten-2{background:#90a4ae;}
.blue-gray.lighten-1{background:#78909c;}
.blue-gray{background:#607d8b;}
.blue-gray.darken-1{background:#546e7a;}
.blue-gray.darken-2{background:#455a64;}
.blue-gray.darken-3{background:#37474f;}
.blue-gray.darken-4{background:#263238;}
.blue-gray.darken-5{background:#212529;}

.indigo.lighten-6{background:#f8f5fd;}
.indigo.lighten-5{background:#e8eaf6;}
.indigo.lighten-4{background:#c5cae9;}
.indigo.lighten-3{background:#9fa8da;}
.indigo.lighten-2{background:#7986cb;}
.indigo.lighten-1{background:#5c6bc0;}
.indigo{background:#3f51b5;}
.indigo.darken-1{background:#3949ab;}
.indigo.darken-2{background:#303f9f;}
.indigo.darken-3{background:#283593;}
.indigo.darken-4{background:#1a237e;}
.indigo.darken-5{background:#0c1675;}

.light-green.lighten-5{background:#f1f8e9;}
.light-green.lighten-4{background:#dcedc8;}
.light-green.lighten-3{background:#c5e1a5;}
.light-green.lighten-2{background:#aed581;}
.light-green.lighten-1{background:#9ccc65;}
.light-green{background:#8bc34a;}
.light-green.darken-1{background:#7cb342;}
.light-green.darken-2{background:#689f38;}
.light-green.darken-3{background:#558b2f;}
.light-green.darken-4{background:#33691e;}


